## https://www.appveyor.com/docs/appveyor-yml/
image: Ubuntu2004
version: 1.1.{build}

platform: Any CPU

# Do not build feature branch with open Pull Requests
skip_branch_with_pr: true

environment:
  # Don't report back to the mothership
  DOTNET_CLI_TELEMETRY_OPTOUT: 1
  DOCKER_USER: corts
  DOCKER_PASS:
    secure: 0rxw6OrmXRqB3UuBZFbC/w==
  SONAR_TOKEN:
    secure: iMwieUAbbS4oTgEVtdGWUujzaBkeNjhFzsPMj8Y3c8vkjWyCN2miKlyfWA25jtBr

init:
- ps: $Env:LABEL = "CI" + $Env:APPVEYOR_BUILD_NUMBER.PadLeft(5, "0")
- ps: $env:DOCKER_PASS | docker login --username $env:DOCKER_USER --password-stdin
- docker version

build_script:
- ps: >-
    $buildNumber = $env:APPVEYOR_BUILD_NUMBER;
    $branch = $env:APPVEYOR_REPO_BRANCH;
    .\build-dockerimages.ps1 -branch $branch -buildCounter $buildNumber -pushImage;
